/* Global CSS */

html,
body {
    font-family: Helvetica;
    font-size: 18px;
    line-height: 1.4;
}

/* Header CSS */
header {
    background-image: url(../img/glasses-bg.png);
    background-size: cover;
    background-position: bottom;
    height: 30rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.banner {
    width: 960px;
    height: 3.4rem;
    margin: 1rem auto;
    background-color: cadetblue;
    color: white;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.banner img {
    height: 1.5rem;
    margin: 1rem 0;
    padding-left: 2rem;
}

#banner-title {
    line-height: 3.4rem;
    padding-left: 1rem;
}

.logo {
    display: flex;   
}

.menu-wrapper {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

#top-menu a {
    padding: 1rem;
    color: white;
    text-decoration: none;
}

/* Slogan CSS */

.slogan-wrapper {
    width: 960px;
    height: 5.35rem;
    position: absolute;
    top: 14.4rem;
    display: flex;
    justify-content: flex-end;
}

.slogan {
    background-color: white;
    padding: 1.5rem 5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    margin-right: -2rem;
}

/* Services (icons) Section CSS */
.services {
    display: flex;
    justify-content: center;
}

.icon-wrapper {
    padding: 3rem 3rem;
    width: 5rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#icon img {
    width: 3.5rem;
    height: auto;
}
#icon #ruler,
#icon #truck {
    width: 4.8rem;
    height: auto;
    background-size: contain;
}

#icon-caption {
    text-align: center;
    display: block;
}

/* Info Section CSS */
.info {
    width: 100%;
    display: flex;
    justify-content: center;
}

.info-wrapper {
    width: 35%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}

#info-header {
    font-weight: bold;
    background-color: cadetblue;
    color: white;
    width: 10rem;
    padding: 0.5rem 1.25rem;    
}

#info-detail {
    padding: 1rem 0;
}

/* Footer CSS */
footer {
    width: 100%;
    height: 9.5rem;
    background-color: azure;
    display: flex;
    align-items: center;
}

#footer-logo {
    width: auto;
    height: 1.5rem;
    padding: 4rem 1rem 4rem 4rem;
}

#copyright {
    display: inline-block;
}

/* Media queries */ 
@media only screen and (min-width: 1024px) {
    #menu a {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    header {
        width: 100%;
        height: 22rem;
        overflow: hidden;
        background-position: 35%;
        background-size: cover;
    }
    
    .banner {
        width: 100%;
        margin: 0;
    }

    #menu a {
        display: none;
    }
    
    .slogan-wrapper {
        height: auto;
        padding: 0.75rem 4rem;
        top: 8rem;
    }
    
    .slogan {
        font-size: 1.33rem;
        margin-right: 4rem;
    }
    
    #info-detail {
        width: 85%;
    }
}

@media only screen and (max-width: 470px) {
    header {
        background-position: 20%;
        background-size: cover;
        height: 17rem;
    }
    
    #banner-title {
        display: none;
    }
    
    #top-menu a {
        display: none;
    }
    
    #menu a {
        display: inline;
        color: white;
        text-decoration: none;
    }
    
    .slogan-wrapper {
        width: 100%;
        padding: 1rem;
        top: 11rem;
    }
    
    .slogan {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        font-size: 1rem;
        margin: 0;
    }
    
    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    
    .icon-wrapper {
        display: flex;
        padding: 0.77rem 0;
        justify-content: center;
    }
    #paper {
        margin-top: 3.77rem;
    }
    #ruler {
        margin-bottom: 0;
        padding-bottom: 0;
        height: auto;
        position: relative;
    }
    #truck-wrapper {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 3rem;
        position: absolute;
        top: 34rem;
    }

    #icon-caption {
        font-size: 0.77rem;
        padding: 0.77rem 0;
    }
    
    .info {
        position: relative;
        top: 6.77rem;
        flex-direction: column;
    }

    .info-wrapper {
        width: 100%;
        padding-bottom: 0;
    }
    
    #info-header {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }
    
    #info-detail {
        font-size: 0.77rem;
        padding-bottom: 4rem;
        margin-left: 0.5rem;
        width: 90%;
    }
    
    footer {
        position: relative;
        top: 8rem;
        justify-content: center;
    }
    
    #footer-logo {
     padding: 0;   
    }
    
    #copyright {
        display: none;
    }